{% comment %}
- collection: Liquid 'collection' or 'search' object
- items: Paginated 'collection.products' or 'search.results' list. Cannot be pulled from the the 'collection' object passed in above
- grid_style
- quick_shop_enable
{% endcomment %}

{% liquid
  if collection.products
      assign count = collection.products_count
      assign count_label = 'collections.general.items_with_count'
  endif

  if collection.results
      assign count = collection.results_count
      assign count_label = 'general.search.result_count'
  endif

  if template.suffix == "collection-no-filters"   
    assign hideOFS = true
  endif

  assign current_filter_size = 0
  for filter in filters
    assign current_filter_size = current_filter_size | plus: filter.active_values.size
  endfor
%}



  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
  <div class="collection-filter__sort "> 
    <label for="SortBy" class="">Sort by</label>
    <select name="SortBy" id="SortBy" data-default-sortby="{{ collection.default_sort_by }}">
      <option value="best-selling"{% if option.value == sort_by %} selected="selected"{% endif %}>Most Popular</option>
      <option value="quantity"{% if option.value == "quantity" %} selected="selected"{% endif %}>Quantity</option>

      {%- for option in collection.sort_options -%}

        {% unless option.name == "Alphabetically, A-Z" or option.name == "Alphabetically, Z-A" or option.name == "Date, old to new" or option.value == "title-ascending"  or option.value == "best-selling"%}
          

        {% if option.name == "Best selling" %}
            <option value="{{ option.value }}"{% if option.value == sort_by %} selected="selected"{% endif %}>Most popular</option>

          {%- elsif option.name == "Price, low to high" -%}
          <option value="{{ option.value }}"{% if option.value == sort_by %} selected="selected"{% endif %}>Price Low</option>

          {%- elsif option.name == "Price, high to low" -%}
          <option value="{{ option.value }}"{% if option.value == sort_by %} selected="selected"{% endif %}>Price High</option>

          {%- elsif option.name == "Date, new to old" -%}
          <option value="{{ option.value }}"{% if option.value == sort_by %} selected="selected"{% endif %}>Release Date</option>

          
            
        

        {% else %}
        <option value="{{ option.value }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name }}</option>
        {% endif %}
        {% endunless %}


        
      {%- endfor -%}

    </select>
  </div>

<div class="collection-grid__wrapper">





  <div class="collection-filter">
    <div class="collection-filter__inner">
      <div class="collection-filter__item collection-filter__item--drawer">
        <button
          type="button"
          class="collection-filter__btn text-link"
        >
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-filter" viewBox="0 0 64 64"><path d="M48 42h10">.</path><path d="M48 42a5 5 0 1 1-5-5 5 5 0 0 1 5 5z"/><path d="M7 42h31">.</path><path d="M16 22H6">.</path><path d="M16 22a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"/><path d="M57 22H26">.</path></svg>
          {{ 'collections.filters.title_tags' | t }}
          {%- if current_filter_size > 0 -%}
            ({{ current_filter_size }})
          {%- endif -%}
        </button>
      </div>

      <div class="collection-filter__item collection-filter__item--count small--hide">
        {{ count_label | t: count: count }}
      </div>



        {%- liquid
          assign productGridView = grid_style
          if cart.attributes.product_view != blank
            assign productGridView = cart.attributes.product_view
          endif
        -%}

        <ul class="no-bullets inline-list text-right">
          <li><button type="button" class="grid-view-btn{% if productGridView == 'large' %} is-active{% endif %}" data-view="large" title="{{ 'collections.general.large' | t }}">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-view-large" viewBox="0 0 35 35"><path d="M0 0h35v35H0z"/></svg>
            <span class="icon__fallback-text">{{ 'collections.general.large' | t }}</span>
          </button></li>
          <li><button type="button" class="grid-view-btn{% if productGridView == 'small' %} is-active{% endif %}" data-view="small" title="{{ 'collections.general.small' | t }}">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-view-small" viewBox="0 0 35 35"><path d="M0 0h15v15H0zM20 0h15v15H20zM0 20h15v15H0zM20 20h15v15H20z"/></svg>
            <span class="icon__fallback-text">{{ 'collections.general.small' | t }}</span>
          </button></li>
          <li><button type="button" class="grid-view-btn{% if productGridView == 'list' %} is-active{% endif %}" data-view="list" title="{{ 'collections.general.list' | t }}">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-view-list" viewBox="0 0 35 35"><g id="Layer_2" data-name="Layer 2"><path d="M0 0h35v8H0zM0 13h35v8H0zM0 27h35v8H0z"/></g></svg>
            <span class="icon__fallback-text">{{ 'collections.general.list' | t }}</span>
          </button></li>
        </ul>
      </div>
    </div>

    <div class="collection-mobile-filters medium-up--hide">
      <div class="collection-mobile-filters__holder" id="CollectionInlineFilterWrap"></div>
    </div>

  </div>

  {%- if items == blank -%}
    <div class="index-section"><p>{{ 'collections.general.no_matches' | t }}</p></div>
  {%- endif -%}

  <div
    class="new-grid product-grid collection-grid"
    data-view="{{ productGridView }}"
    data-scroll-to
  >

  {% if collTemplate %}
    <div class="collection-card-filters {% if section.settings.remove_description %} collection-card-filters--full-width {% endif %} ">
    
      {%- render 'collection-grid-filters',
      collection: collection,
      enable_sidebar: section.settings.enable_sidebar,
      enable_color_swatches: section.settings.enable_color_swatches,
      tags_combine: section.settings.tags_combine,
      enable_sort: section.settings.enable_sort,
      collapse_filters: section.settings.collapse_filters
    -%}
    </div>

    {% unless section.settings.remove_description %}
    <div class="collection-template-card">
      {% if collection.metafields.custom.collection_page_title != blank %}
      <h1>{{ collection.metafields.custom.collection_page_title }}</h1>
      {% else %}
      <h1>{{ collection.title }}</h1>
      {% endif %}
      <p>{{ collection.description }}</p>

      {% render 'share' %}
      </div>
    {% endunless %}

    <div class="collection-featured-image">
      <img src="{{ collection.image.src | img_url: "master" }}" alt="">
    </div>


  {% endif %}
  
    {%- for item in items -%}
    


      {% if forloop.index == card_one_pos %}
        {% if section.settings.image_with_text_image != blank %}
          <div class="promo-card" >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title }}</h2>
                <a href="{{ section.settings.button_link }}">
                  <div class="btn">{{ section.settings.button_label }}</div>
                </a>
              </div>
            </div>
          </div>      
        {% endif %}       
      {% endif %}


      {% if forloop.index == card_two_pos %}

        {% if section.settings.image_with_text_image_two != blank %}
          <div class="promo-card" >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_two | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_two }}</h2>
                <a href="{{ section.settings.button_link_two }}">
                  <div class="btn">{{ section.settings.button_label_two }}</div>
                </a>
              </div>
            </div>
          </div>      
        {% endif %}     
      {% endif %}

      
      {% if forloop.index == card_three_pos %}
      
        {% if section.settings.image_with_text_image_three != blank %}
          <div class="promo-card" >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_three | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_three }}</h2>
                <a href="{{ section.settings.button_link_three }}">
                  <div class="btn">{{ section.settings.button_label_three }}</div>
                </a>
              </div>
            </div>
          </div>      
        {% endif %}     
      {% endif %}        

      {% if forloop.index == card_four_pos %}
        {% if section.settings.image_with_text_image_four != blank %}
          <div class="promo-card" >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_four | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_four }}</h2>
                <a href="{{ section.settings.button_link_four }}">
                  <div class="btn">{{ section.settings.button_label_four }}</div>
                </a>
              </div>
            </div>
          </div>      
        {% endif %}     
      {% endif %}       


      {% if forloop.index == card_five_pos %}
        {% if section.settings.image_with_text_image_five != blank %}
          <div class="promo-card" >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_five | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_five }}</h2>
                <a href="{{ section.settings.button_link_five }}">
                  <div class="btn">{{ section.settings.button_label_five }}</div>
                </a>
              </div>
            </div>
          </div>      
        {% endif %}     
      {% endif %}    
      
      {% if forloop.index == card_six_pos %}
      
        {% if section.settings.image_with_text_image_six != blank %}
          <div class="promo-card" >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_six | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_six }}</h2>
                <a href="{{ section.settings.button_link_six }}">
                  <div class="btn">{{ section.settings.button_label_six }}</div>
                </a>
              </div>
            </div>
          </div>      
        {% endif %}     
      {% endif %}     
      
      {% if forloop.index == card_seven_pos %}
        {% if section.settings.image_with_text_image_seven != blank %}
          <div class="promo-card
          " >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_seven | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_seven }}</h2>
                <a href="{{ section.settings.button_link_seven }}">
                  <div class="btn">{{ section.settings.button_label_seven }}</div>
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% if forloop.index == card_eight_pos %}
        {% if section.settings.image_with_text_image_eight != blank %}
          <div class="promo-card
          " >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_eight | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_eight }}</h2>
                <a href="{{ section.settings.button_link_eight }}">
                  <div class="btn">{{ section.settings.button_label_eight }}</div>
                </a>
              </div>
            </div>

          </div>
        {% endif %}
      {% endif %}

      {% if forloop.index == card_nine_pos %}
        {% if section.settings.image_with_text_image_nine != blank %}
          <div class="promo-card
          " >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_nine | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_nine }}</h2>
                <a href="{{ section.settings.button_link_nine }}">
                  <div class="btn">{{ section.settings.button_label_nine }}</div>
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% if forloop.index == card_ten_pos %}
        {% if section.settings.image_with_text_image_ten != blank %}
          <div class="promo-card
          " >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_ten | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_ten }}</h2>
                <a href="{{ section.settings.button_link_ten }}">
                  <div class="btn">{{ section.settings.button_label_ten }}</div>
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% if forloop.index == card_eleven_pos %}
        {% if section.settings.image_with_text_image_eleven != blank %}
          <div class="promo-card
          " >
            <div class="promo-card__inner">
              <img src="{{ section.settings.image_with_text_image_eleven | img_url: "400x" }}" alt="">
              <div class="promo-card__text">
                <h2>{{ section.settings.title_eleven }}</h2>
                <a href="{{ section.settings.button_link_eleven }}">
                  <div class="btn">{{ section.settings.button_label_eleven }}</div>
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}





      {%- if item.object_type == 'product' -%}

    {% if hideOFS %}
      {% if item.available %}
      {%- render 'product-grid-item', product: item -%}
      {% endif %}
    
        {% else %}
      
        {%- render 'product-grid-item', product: item -%}
      {% endif %}
        
        

        {%- if quick_shop_enable -%}
            {%- render 'quick-shop-modal', product: item -%}
        {%- endif -%}
      {%- else -%}

      {%- comment -%}
              {%- render 'search-grid-item', item: item -%}
      {%- endcomment -%}

  
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>





{% if collection.metafields.custom.does_this_collection_have_an_archived_non_archived_equivalent_ != blank %}

<div class="see-archive">
  <div class="see-archive__button">
    <a href=" {{ collection.metafields.custom.does_this_collection_have_an_archived_non_archived_equivalent_.value.url }}" class="link">      
      {% if collection.metafields.custom.is_this_collection_archived_ %}
        View active items
      {% else %}
        View archived items
      {% endif %}
    </a>   
  </div>
</div>
  
{% endif %}


<script>



  
  if (window.location.search.includes("?sort_by=quantity")) {
    const cards = document.querySelectorAll('.grid-product')
    SortData()

    function comparator(a, b) {
      if ( parseInt(a.dataset.quantity)  > parseInt(b.dataset.quantity))
          return -1;
      if ( parseInt(a.dataset.quantity) < parseInt(b.dataset.quantity))
          return 1;
      return 0;
    }      

    function SortData() {
      var subjects =  document.querySelectorAll("[data-quantity]");
      var subjectsArray = Array.from(subjects);
      let sorted = subjectsArray.sort(comparator);
      sorted.forEach(e =>  {
        document.querySelector(".collection-grid").appendChild(e)
      });
    }
  }
</script>
