<div class="footer-logos">
  <div class="footer-logos__inner page-width">

    <div class="footer-logos__image">
      <a href="{{ block.settings.link_one }}" aria-label="Read more">
        <img src="{{ block.settings.logo_one | img_url: "400x" }}" alt="">
      </a>
    </div>

    <div class="footer-logos__image">
      <a href="{{ block.settings.blink_two }}" aria-label="Read more">
        <img src="{{ block.settings.logo_two | img_url: "400x" }}" alt="">
      </a>
    </div>
  </div>

  <div class="footer-logos__image footer-logos__image-last-row">
    <a href="{{ block.settings.link_three }}" aria-label="Read more">
      <img src="{{ block.settings.logo_three | img_url: "400x" }}" alt="">
    </a>
  </div>
</div>