<style>
  .note--success h2, .note--success p{
    text-align: center;
  }
</style>

<div class="index-section newsletter-{{ section.id }}" id="enquire">

  <div class="note--success">
    <h2>Thanks for contacting us.</h2>
    <p><strong>We'll respond to you very soon.</strong></p>
  </div>

  {%- if section.settings.color_scheme != 'none' -%}
    {%- render 'color-scheme-texture', color_scheme: section.settings.color_scheme -%}
  {%- endif -%}
  <div class="product-contact-form-main">
    {%- if section.settings.title != blank or section.settings.text != blank -%}
      <div class="section-header text-center">
        {%- if section.settings.title != blank -%}
          <h2 class="section-header__title">
            {{ section.settings.title }}
          </h2>

          <button type="button" aria-label="Show enquiry form" aria-controls="enquiryForm" class="btn btn-secondary js-pdp-contact">Submit an enquiry</button>
        {%- endif -%}
      </div>
    {% endif %}

    <div class="form-vertical">
      {%- assign form_id = 'contact-' | append: section.id -%}
      {%- form 'contact', id: form_id -%}

        {%- if form.posted_successfully? -%}
          <p class="note note--success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {%- endif -%}

        {{ form.errors | default_errors }}

        {% unless form.posted_successfully? %}

        <div class="product-contact-form-main__inner">
          <div class="product-contact-form-main__left">
            <div class="grid grid--small">
              <div class="grid__item medium-up--one-half first-name">
                <label for="ContactFormName-{{ section.id }}">First Name *</label>
                <input required type="text" id="ContactFormName-{{ section.id }}" class="input-full" name="contact[first-name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
    
              <div class="grid__item medium-up--one-half last-name">
                <label for="ContactFormName-{{ section.id }}">Surname *</label>
                <input required type="text" id="ContactFormName-{{ section.id }}" class="input-full" name="contact[last-name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>

              <div class="grid__item">
                <label for="ContactFormComapany-{{ section.id }}">Company</label>
                <input type="text" id="ContactFormComapany-{{ section.id }}" class="input-full" name="contact[company]" autocorrect="off" autocapitalize="off" value="">
              </div>
    
              <div class="grid__item">
                <label for="ContactFormEmail-{{ section.id }}">Email *</label>
                <input required type="email" id="ContactFormEmail-{{ section.id }}" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>  
  
              <div class="grid__item">
                <label for="ContactFormPhone-{{ section.id }}">Telephone *</label>
                <input required type="tel" id="ContactFormPhone-{{ section.id }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>
  

            </div>
          </div>
  
          <div class="product-contact-form-main__right">
       
            <div class="">
              <label for="ContactFormMessage-{{ section.id }}">Comments</label>
              <textarea rows="5" id="ContactFormMessage-{{ section.id }}" class="input-full" name="contact[body]"></textarea>
            </div>

            <div class="">
              <label for="ContactFormMessage-international">For international clients requiring a quotation please state the delivery address</label>
              <textarea rows="5" id="ContactFormMessage-international" class="input-full" name="contact[body]"></textarea>
            </div>
          </div>
        </div>








        <div class="section-header text-center">
          {%- if section.settings.text != blank -%}
            <div class="rte section-header__rte">{{ section.settings.text }}</div>
          {%- endif -%}
        </div>

        <div class="" style="display: flex; justify-content: center;">

          <label for="contact-form-submit-{{ section.id }}" class="hidden-label">{{ 'contact.form.send' | t }}</label>
          <button type="submit" id="contact-form-submit-{{ section.id }}" class="btn">
            Enquire
          </button>
        </div>

        <div class="contact-tcs" style="display: flex; justify-content: center;">

          <p>By hitting submit you agree to our <a href="{{ section.settings.tc_link }}">T&Cs</a> and the ways in which we process data.</p>

        </div>



        {% comment %}
          Remove the following three lines of code to remove the note
          about being protected by Google's reCAPTCHA service.
          By removing it, the small reCAPTCHA widget will appear in the
          bottom right corner of the page.
        {% endcomment %}
        <div class="captcha">{{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}</div>

        
          
        {% endunless %}

      {%- endform -%}
    </div>
  </div>
</div>



<script>
  const contactBtn = document.querySelector('.js-pdp-contact')

  contactBtn.addEventListener('click', () => {
    contactBtn.style.display = "none"
    document.querySelector('.product-contact-form-main form').style.display = 'block'
  })

  //get window location and if location contains "contact_posted=true" then show success message
  const urlParams = new URLSearchParams(window.location.search);
  const myParam = urlParams.get('contact_posted');
  if (myParam == 'true') {
    document.querySelector('.product-contact-form-main').style.display = 'none'
    document.querySelector('.product-contact-form-main .note--success').style.display = 'block'

    //scrole to #enquire but 300px up after 2 seconds - no animation

    setTimeout(() => {
      console.log('scrolling')
      document.querySelector('#enquire').scrollIntoView()

      //then scroll 200px up

      setTimeout(() => {
        window.scrollBy(0, -200)
      }, 700);
    }, 1500);
  }




</script>