{%- liquid
  assign show_sidebar = true
  assign total_tags = 0

  if section.settings.enable_sidebar == false or collection.filters.size == 0
    assign show_sidebar = false
  endif
-%}

<div
  id="CollectionAjaxResult"
  class="collection-content
  {% if section.settings.show_feat_img %}
    collection-content--featured-img
  {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="collection-template"
  data-collection-template="true"
>
  <div id="CollectionAjaxContent">
    <div class="page-width">
      {%- liquid
        assign paginate_by = 400000

        assign current_filter_size = 0
        for filter in collection.filters
          assign current_filter_size = current_filter_size | plus: filter.active_values.size
        endfor
      -%}

      {%- paginate collection.products by paginate_by -%}
      <div class="grid">
        {%- comment -%}
                <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {%- render 'collection-grid-filters',
            collection: collection,
            enable_sidebar: section.settings.enable_sidebar,
            enable_color_swatches: section.settings.enable_color_swatches,
            tags_combine: section.settings.tags_combine,
            enable_sort: section.settings.enable_sort,
            collapse_filters: section.settings.collapse_filters
          -%}
        </div>
        
        {%- endcomment -%}

        <div class="grid__item medium-up--four-fifths grid__item--content main-collection-grid">

          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'collection_description' -%}
              {%- if collection.description != blank and current_filter_size == 0 -%}
                <div class="rte rte--collection-desc" {{ block.shopify_attributes }}>
                  <div class="enlarge-text">
                    {{ collection.description }}
                  </div>
                  <p>test</p>
                </div>
              {%- endif -%}
            {%- when 'subcollections' -%}
              {%- if paginate.current_page == 1 and current_filter_size == 0 -%}
                <div {{ block.shopify_attributes }}>
                  {%- render 'subcollections' -%}
                </div>
              {%- endif -%}
            {%- when 'product_grid' -%}

     
     
              
   
              <div {{ block.shopify_attributes }}>
                {%- render 'collection-grid'
                  collection: collection,
                  card_one_pos: section.settings.position,
                  card_one_pos_two: section.settings.position_two,
                  card_one_pos_two: section.settings.position_three,
                  card_one_pos_two: section.settings.position_four,
                  card_one_pos_two: section.settings.position_five,
                  card_one_pos_two: section.settings.position_six,
                  items: collection.products,
                  grid_style: block.settings.grid_style,
                  quick_shop_enable: settings.quick_shop_enable,
                  collTemplate: true
                -%}
              </div>

              {%- liquid
                if paginate.pages > 1
                  render 'pagination', paginate: paginate
                endif
              -%}

            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
      {%- endpaginate -%}
    </div>
  </div>
</div>

{%- if show_sidebar == false -%}
  {% comment %}
    Disable sidebar & filter features
  {% endcomment %}
  {%- style -%}
    .collection-content .grid__item--sidebar {
      display: none;
    }
    .collection-content .grid__item--content {
      width: 100% !important;
    }
  {%- endstyle -%}
{%- endif -%}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  {% if collection.description != blank %}
    "description": {{ collection.description | strip_html | json }},
  {% endif %}
  {% if page_image %}
    {% assign image_size = page_image.width | append: 'x' %}
    "image": {
      "@type": "ImageObject",
      "height": {{ page_image.height | json }},
      "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
      "width": {{ page_image.width | json }}
    },
  {% endif %}
  "name": {{ collection.title | json }}
}
</script>

{% schema %}
{
  "name": "t:sections.main-collection.name",
  "settings": [
    {
      "type": "header",
      "content": "Promo Card"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "position",
      "min": 2,
      "max": 24,
      "step": 1,
      "label": "Position in grid",
      "default": 2
    },

    {
      "type": "header",
      "content": "Promo Card Two"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image_two",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_two",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_label_two",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link_two",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "position_two",
      "min": 2,
      "max": 102,
      "step": 1,
      "label": "Position in grid",
      "default": 2
    },
    {
      "type": "header",
      "content": "Promo Card three"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image_three",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_three",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_label_three",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link_three",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "position_three",
      "min": 2,
      "max": 102,
      "step": 1,
      "label": "Position in grid",
      "default": 2
    },

    {
      "type": "header",
      "content": "Promo Card four"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image_four",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_four",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_label_four",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link_four",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "position_four",
      "min": 2,
      "max": 102,
      "step": 1,
      "label": "Position in grid",
      "default": 2
    },

    {
      "type": "header",
      "content": "Promo Card five"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image_five",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_five",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_label_five",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link_five",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "position_five",
      "min": 102,
      "max": 202,
      "step": 1,
      "label": "Position in grid",
      "default": 102
    },

    {
      "type": "header",
      "content": "Promo Card six"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image_six",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_six",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_label_six",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link_six",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "position_six",
      "min": 102,
      "max": 202,
      "step": 1,
      "label": "Position in grid",
      "default": 102
    },



    {
      "type": "header",
      "content": "t:sections.main-collection.settings.header_filtering_and_sorting"
    },
    {
      "type": "checkbox",
      "id": "show_feat_img",
      "label": "Large Featured Image",
      "default": false,
      "info": "this will remove filtering and sorting"
    },
    {
      "type": "checkbox",
      "id": "remove_description",
      "label": "Remove description block",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sidebar",
      "label": "t:sections.main-collection.settings.enable_sidebar.label",
      "default": true,
      "info": "t:sections.main-collection.settings.enable_sidebar.info"
    },
    {
      "type": "checkbox",
      "id": "collapse_filters",
      "label": "t:sections.main-collection.settings.collapse_filters.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_color_swatches",
      "label": "t:sections.main-collection.settings.enable_color_swatches.label",
      "info": "t:sections.main-collection.settings.enable_color_swatches.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sort",
      "label": "t:sections.main-collection.settings.enable_sort.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "collection_description",
      "name": "t:sections.main-collection.blocks.collection_description.name",
      "limit": 1
    },
    {
      "type": "product_grid",
      "name": "t:sections.main-collection.blocks.products.name",
      "settings": [
        {
          "type": "select",
          "id": "grid_style",
          "label": "t:sections.main-collection.blocks.products.settings.grid_style.label",
          "default": "small",
          "options": [
            {
              "value": "large",
              "label": "t:sections.main-collection.blocks.products.settings.grid_style.options.large.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-collection.blocks.products.settings.grid_style.options.small.label"
            },
            {
              "value": "list",
              "label": "t:sections.main-collection.blocks.products.settings.grid_style.options.list.label"
            }
          ]
        }
      ],
      "limit": 1
    },
    {
      "type": "CustomFilter",
      "name": "Custom Filter",
      "settings": [
        {
          "type": "text",
          "id": "filter_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "filter_link",
          "label": "Filter Link"
        }

      ]
    }
  ]
}
{% endschema %}
