{% assign article = blog.articles[0] %}



{%- assign urlArray = article.url | split: "/" -%}
{% assign featuredArticleBlog = blogs[ urlArray[2] ] %}   






<div class="blog-landing-page">
  <div class="blog-landing-page__inner page-width">
    <div class="blog-landing-page__article">
      <div class="image-with-text-box">
        <div class="image-with-text-box__inner">
          <div class="image-with-text-box__image">
            <a href="{{ article.url}}">
              <img src="{{ article.image | img_url: 'master' }}">
            </a>
          </div>
          <div class="image-with-text-box__text-box">
            <div class="image-with-text-box__text-wrap">
              <a href="{{ article.url }}">
                <h2>{{ article.title }}</h2>
              </a>
              <p>{{ article.excerpt }}</p>
              <div class="image-with-text-box__link-wrap">
                {% for tag in article.tags %}
                  {% assign urlTagged = tag  | downcase | replace: " ", "-" %}
                  <a class="a-link" href="{{ blog.url }}/tagged/{{ urlTagged }}">{{ tag | replace: 'project', '' | replace: 'Projects', '' }}{% unless forloop.last %}| {% endunless %}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div class="blog-landing-page__filter">
      <h1>{{ section.settings.title }}</h1>
      <div class="blog-landing-page__filter-list">  
        <p>Browse by: </p>
        <ul>
          <li><a href="{{ blog.url   }}">All</a></li>         
          {% for block in section.blocks %}
            {% assign blogFilter = blogs[ block.settings.blog ] %}  
            {% assign urlTagged = block.settings.blog_tag  | downcase | replace: " ", "-" %}
              <li           
              ><a data-tagged="{{ urlTagged }}" href="{{ blogFilter.url }}/tagged/{{ urlTagged }}">{{ block.settings.blog_tag | replace: 'project', '' | replace: 'Projects', '' }}</a></li>    
          {% endfor %}
        </ul>


        




        {% if blog.title contains "All projects" or page.title contains "Project" %}
          <div class="btn blog-landing-page__filter-btn js-contact"><span>Enquire about your project</span></div>
        {% else %}
          <div class="btn blog-landing-page__filter-btn js-newsletter"><span>Sign up to our newsletter</span></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>




{% if template.name == "page" %}
  <div class="article-grid">
    <div class="article-grid__inner page-width">
      {% for block in section.blocks %}
        {% assign blog = blogs[ block.settings.blog ] %}           
          {% for article in blog.articles %}
            {% render 'article-card', article: article, blog: blog %}        
          {% endfor %} 
        {% endfor %}
    </div>
  </div>

  {% else %}

  <div class="article-grid">
    {% assign article_count = 0 %}
    <div class="article-grid__inner page-width">  
    {% paginate blog.articles by 100000 %}
    {% for article in blog.articles %}
      {% assign article_count = article_count | plus: 1 %}
      {% unless forloop.index == 1 %}
      {% render 'article-card', article: article, blog: blog, index_num: forloop.index, threshold: section.settings.load_more %}     
      {% endunless %}
         
    {% endfor %} 

    {% endpaginate %}              

    </div>
  </div>
{% endif %}




{% if article_count > section.settings.load_more %}
  


<button type="button" class="btn-load-more">
  <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.60002 6.30002C7.41309 6.11679 7.16176 6.01416 6.90001 6.01416C6.63826 6.01416 6.38693 6.11679 6.2 6.30002L4.90001 7.60001V1C4.90001 0.734784 4.79464 0.480444 4.6071 0.292908C4.41956 0.105371 4.16523 0 3.90001 0C3.63479 0 3.38045 0.105371 3.19292 0.292908C3.00538 0.480444 2.90001 0.734784 2.90001 1V7.60001L1.60002 6.30002C1.40745 6.15559 1.16923 6.08548 0.929122 6.10254C0.689013 6.1196 0.463103 6.2227 0.292892 6.39291C0.122681 6.56313 0.0195813 6.789 0.00251725 7.02911C-0.0145468 7.26922 0.0555674 7.50744 0.199997 7.70001L3.2 10.7L3.50001 10.9H3.90001C4.03152 10.9042 4.16237 10.8795 4.28331 10.8277C4.40425 10.7759 4.51237 10.6981 4.60002 10.6L7.60002 7.60001C7.75495 7.41887 7.84007 7.18837 7.84007 6.95001C7.84007 6.71166 7.75495 6.48115 7.60002 6.30002Z" fill="#979797"/>
    </svg>
    
    

  Load more        </button>



<script>


  const loadMore = document.querySelector('.btn-load-more');
  

  loadMore.addEventListener('click', () => {
    const hiddenArticles = document.querySelectorAll('.lazy-load');

    console.log('clicked');

    //show 3 more articles
    for (let i = 0; i < 3; i++) {
      if (hiddenArticles[i]) {
        hiddenArticles[i].classList.remove('lazy-load');
        hiddenArticles[i].style.opacity = 0;
        hiddenArticles[i].style.transition = 'opacity 0.3s';

        //set time out
        setTimeout(() => {
          hiddenArticles[i].style.opacity = 1;
        }, 300);
      } else {
        loadMore.style.display = 'none';
        break;
      }
    }


  });
</script>

{% endif %}




{% schema %}
{
  "name": "t:sections.main-collection.name",
  "settings": [
    {
      "type": "range",
      "id": "load_more",
      "min": 3,
      "max": 90,
      "step": 3,
      "label": "Show load more button after",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "blog_filter",
      "name": "Blog Filter",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        },
        {
          "type": "text",
          "id": "blog_tag",
          "label": "Blog tag"
        }
      ]
    }
  ]
}
{% endschema %}
