



{% assign swap_row = false %}

{% if product.images.size == 1 %}
  


{% assign my_number = product.images.size | modulo: 2 %} <!-- This is your number -->

{% if product.metafields.custom['3d_model_images'] == blank %}
  {% if my_number != 0 %}
    <!-- If the condition is true, then the number is odd -->
    {% assign swap_row = true %}

  {% else %}
    <!-- If the condition is false, then the number is even -->

  {% endif %}

  {% else %}

  {% if my_number != 0 %}
    <!-- If the condition is true, then the number is odd -->


  {% else %}
    <!-- If the condition is false, then the number is even -->

    {% assign swap_row = true %}
  {% endif %}
    
{% endif %}
{% endif %}






<div class="wrap page-width {% if swap_row %}swap-rows {% endif %} {% if section.settings.flush %}section-flush {% endif %} {% if section.settings.flush_bottom %}section-padding--bottom {% endif %}">
  {%- for block in section.blocks -%}

    {%- if block.type == "filter" -%}
    {%- assign show = false -%}

        {%- for metafield in product.metafields.custom -%}
          {%- for item in  metafield -%}

            {%- assign string = item.value | downcase -%}
            
            {% assign filterS = block.settings.heading | downcase %}

            {%- if string contains filterS -%}
  
              {%- assign show = true -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% assign title = block.settings.title | newline_to_br %}
        {% assign copy =  block.settings.copy  %}
        {% assign btnlink = block.settings.link %}
        {% assign btnCopy = block.settings.link_text  %}

        {%- if show -%}
        <div class="product-metafield-details">
          <div class="product-metafield-details__inner  product-metafield-details__inner--left">
            <div class="product-metafield-details__image">
              <div class="product-metafield-details__image-wrap">                
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">             
                  <img class="lazyload" data-src="{{ img_url }}" data-widths="[360, 540, 720, 900, 1080, 1600]" data-aspectratio="{{block.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{block.settings.image.alt }}">
                </div>
              </div>
            </div>
            <div class="product-metafield-details__text">
              <div class="product-metafield-details__text-wrap">
                <h3>{{ title }}</h3>
                {{ copy }}
                <a href="{{ btnlink }}">{{  btnCopy  }}</a>
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}      
    {% endif %}    

    {% if block.type == "meta_one" %}
    
      {%- assign show = false -%}
      {% assign stacked = false %}

      {% if product.metafields.product-block.copy[0] != blank %}
        {%- assign show = true -%}
      {% endif %}
      {%- assign img_url = product.metafields.product-block.image[0][0].src -%}
      {% assign title = product.metafields.product-block.title[0] | newline_to_br %}
      {% assign copy =  product.metafields.product-block.copy[0] %}
      {% assign html_copy = product.metafields.accentuate.html_text[0] %}
      {% assign btnlink = product.metafields.product-block.link[0] %}
      {% assign btnCopy = product.metafields.product-block.link_text[0] %} 

      {% if product.metafields.accentuate.layout_centered_stacked[0] == "true" %}
        {% assign stacked = true %}
      {% endif %}



      


      <div class="product-metafield-details test {% if stacked %} product-metafield-details--stacked{% endif %}">
        <div class="product-metafield-details__inner  product-metafield-details__inner--left">
          <div class="product-metafield-details__image {% if product.metafields.product-block.image[0][1] != blank %}product-metafield-details__image--two {% endif %}  ">
            <div class="product-metafield-details__image-wrap">
              <div class="image-wrap" style="">             
                <img class="lazyload" src="{{img_url}}" alt="">
                {% if img_url != blank %}
                  <img class="image-two" src="{{ img_url }}" alt="">

                  {% else %}
                    <img src="{{ settings.fallback | img_url: "master"   }}" alt="">
                {% endif %}                      
              </div>
            </div>
          </div>
          <div class="product-metafield-details__text">
            <div class="product-metafield-details__text-wrap">
              <h3>{{ title }}</h3>
              <p>{{ copy }}</p>                
              <a href="{{ btnlink }}">{{  btnCopy  }}</a>
            </div>
          </div>
        </div>
      </div>      
    {% endif %}



    {% if block.type == "meta_two" %}

      {% if product.metafields.product-block.copy[1] != blank or product.metafields.product-block.html_copy != blank %}


        {% assign stacked = false %}
        {%- assign img_url = product.metafields.product-block.image[1][0].src -%}
        {% assign title = product.metafields.product-block.title[1] | newline_to_br %}
        {% assign copy =  product.metafields.product-block.copy[1] %}
        {% assign html_copy = product.metafields.accentuate.html_text[1] %}
        {% assign btnlink = product.metafields.product-block.link[1] %}
        {% assign btnCopy = product.metafields.product-block.link_text[1] %} 

        {% if product.metafields.accentuate.layout_centered_stacked[1] == "true" %}
          {% assign stacked = true %}
        {% endif %}

        



        <div class="product-metafield-details {% if stacked %} product-metafield-details--stacked {% else %} {% endif %}">
          <div class="product-metafield-details__inner  product-metafield-details__inner--left">
            {% if product.metafields.product-block.image[1] != blank %}
              <div class="product-metafield-details__image {% if product.metafields.product-block.image[1][1] != blank %}product-metafield-details__image--two {% endif %}  ">
                <div class="product-metafield-details__image-wrap">
                  <div class="image-wrap" style="">             
                    <img class="lazyload" src="{{img_url}}" alt="">
                    {% if product.metafields.product-block.image[1][1] != blank %}
                      <img class="image-two" src="{{ product.metafields.product-block.image[1][1].src }}" alt="">
                    {% endif %}                      
                  </div>
                </div>
              </div>
            {% endif %}

            <div class="product-metafield-details__text">
              <div class="product-metafield-details__text-wrap">
                <h3>{{ title }}</h3>
                {% if copy != blank %}
                <p>{{ copy }}</p> 
                {% endif %}
                {% if html_copy != blank %}
                  <div class="rte">{{ html_copy  }}</div>
                {% endif %}
             
                <a href="{{ btnlink }}">{{  btnCopy  }}</a>
              </div>
            </div>
          </div>
        </div>   

      {% endif %}
    {% endif %}    

    {% if block.type == "meta_three" %}



      {% if product.metafields.product-block.copy[2] != blank %}
        {% assign stacked = false %}
        {%- assign img_url = product.metafields.product-block.image[2][0].src -%}
        {% assign title = product.metafields.product-block.title[2] | newline_to_br %}
        {% assign copy =  product.metafields.product-block.copy[2] %}
        {% assign btnlink = product.metafields.product-block.link[2] %}
        {% assign btnCopy = product.metafields.product-block.link_text[2] %} 

        {% if product.metafields.accentuate.layout_centered_stacked[2] == "true" %}
          {% assign stacked = true %}
        {% endif %}        


        <div class="product-metafield-details {% if stacked %} product-metafield-details--stacked{% endif %}">
          <div class="product-metafield-details__inner  product-metafield-details__inner--left">
            <div class="product-metafield-details__image {% if product.metafields.product-block.image[2][1] != blank %}product-metafield-details__image--two {% endif %}  ">
              <div class="product-metafield-details__image-wrap">
                <div class="image-wrap" style="">             
                  <img class="lazyload" src="{{img_url}}" alt="">
                  {% if product.metafields.product-block.image[1][1] != blank %}
                    <img class="image-two" src="{{ product.metafields.product-block.image[2][1].src }}" alt="">
                  {% endif %}                      
                </div>
              </div>
            </div>
            <div class="product-metafield-details__text">
              <div class="product-metafield-details__text-wrap">
                <h3>{{ title }}</h3>
                <p>{{ copy }}</p>                
                <a href="{{ btnlink }}">{{  btnCopy  }}</a>
              </div>
            </div>
          </div>
        </div>   

      {% endif %}
    {% endif %} 
    
    {% if block.type == "meta_four" %}

      {% if product.metafields.product-block.copy[3] != blank %}
        {% assign stacked = false %}
        {%- assign img_url = product.metafields.product-block.image[3][0].src -%}
        {% assign title = product.metafields.product-block.title[3] | newline_to_br %}
        {% assign copy =  product.metafields.product-block.copy[3] %}
        {% assign btnlink = product.metafields.product-block.link[3] %}
        {% assign btnCopy = product.metafields.product-block.link_text[3] %} 

        {% if product.metafields.accentuate.layout_centered_stacked[3] == "true" %}
          {% assign stacked = true %}
        {% endif %}        


        <div class="product-metafield-details {% if stacked %} product-metafield-details--stacked{% endif %}">
          <div class="product-metafield-details__inner  product-metafield-details__inner--left">
            <div class="product-metafield-details__image {% if product.metafields.product-block.image[3][1] != blank %}product-metafield-details__image--two {% endif %}  ">
              <div class="product-metafield-details__image-wrap">
                <div class="image-wrap" style="">             
                  <img class="lazyload" src="{{img_url}}" alt="">
                  {% if product.metafields.product-block.image[1][1] != blank %}
                    <img class="image-two" src="{{ product.metafields.product-block.image[3][1].src }}" alt="">
                  {% endif %}                      
                </div>
              </div>
            </div>
            <div class="product-metafield-details__text">
              <div class="product-metafield-details__text-wrap">
                <h3>{{ title }}</h3>
                <p>{{ copy }}</p>                
                <a href="{{ btnlink }}">{{  btnCopy  }}</a>
              </div>
            </div>
          </div>
        </div>   

      {% endif %}
    {% endif %}    
    
    {% if block.type == "meta_five" %}

      {% if product.metafields.product-block.image[4] != blank %}
        {% assign stacked = false %}
        {%- assign img_url = product.metafields.product-block.image[4][0].src -%}
        {% assign title = product.metafields.product-block.title[4] | newline_to_br %}
        {% assign copy =  product.metafields.product-block.copy[4] %}
        {% assign btnlink = product.metafields.product-block.link[4] %}
        {% assign btnCopy = product.metafields.product-block.link_text[4] %} 

        {% if product.metafields.accentuate.layout_centered_stacked[4] == "true" %}
          {% assign stacked = true %}
        {% endif %}        


        <div class="product-metafield-details {% if stacked %} product-metafield-details--stacked{% endif %}">
          <div class="product-metafield-details__inner  product-metafield-details__inner--left">
            <div class="product-metafield-details__image {% if product.metafields.product-block.image[4][1] != blank %}product-metafield-details__image--two {% endif %}  ">
              <div class="product-metafield-details__image-wrap">
                <div class="image-wrap" style="">             
                  <img class="lazyload" src="{{img_url}}" alt="">
                  {% if product.metafields.product-block.image[1][1] != blank %}
                    <img class="image-two" src="{{ product.metafields.product-block.image[4][1].src }}" alt="">
                  {% endif %}                      
                </div>
              </div>
            </div>
            <div class="product-metafield-details__text">
              <div class="product-metafield-details__text-wrap">
                <h3>{{ title }}</h3>
                <p>{{ copy }}</p>                
                <a href="{{ btnlink }}">{{  btnCopy  }}</a>
              </div>
            </div>
          </div>
        </div>   

      {% endif %}
    {% endif %}   
    
    
    {% if block.type == "related_project" %}

    {% assign related_article = "" %}
    {% paginate blogs['all-projects'].articles by 250 %}
      {% for article in blogs['all-projects'].articles %}
        {% for related_product in article.metafields.custom.products_used.value %}
            {% if product == related_product %}
              {% assign related_article = article %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endpaginate %}


      {% if related_article.image != blank %}
        {% assign stacked = false %}
        {%- assign img_url = related_article.image | img_url: "1000x" -%}
        {% assign title = related_article.title %}
        {% assign copy =  related_article.excerpt %}
        {% assign btnlink = related_article.url %}
        {% assign btnCopy = "Read more .." %} 
  

  
        <div class="product-metafield-details product-metafield-details--related-article {% if stacked %} product-metafield-details--stacked{% endif %}">
          <div class="product-metafield-details__inner  product-metafield-details__inner--left">
            <div class="product-metafield-details__image {% if product.metafields.product-block.image[1][1] != blank %}product-metafield-details__image--two {% endif %}  ">
              <div class="product-metafield-details__image-wrap">
                <div class="image-wrap" style="">             
                  <img class="lazyload" src="{{img_url}}" alt="">
                  {% if product.metafields.product-block.image[1][1] != blank %}
                    <img class="image-two" src="{{ product.metafields.product-block.image[1][1].src }}" alt="">
                  {% endif %}                      
                </div>
              </div>
            </div>
            <div class="product-metafield-details__text">
              <div class="product-metafield-details__text-wrap">
                <h3>{{ title }}</h3>
                <p>{{ copy }}</p>                
                <a href="{{ btnlink }}">{{  btnCopy  }}</a>
              </div>
            </div>
          </div>
        </div>          
      {% endif %}

    {% endif %}

  
    {% if block.type == "pdf" %}        


    {%- assign img_url = product.metafields.pdf.image[0].src -%}
    {% assign title = "Product details" %}
    {% assign copy =  product.metafields.pdf.additional_description %}
    {% assign btnlink = product.metafields.product-block.link[forloop.index0] %}
    {% assign btnCopy = product.metafields.product-block.link_text[forloop.index0]  %} 

      <div class="product-metafield-details">
        <div class="product-metafield-details__inner  product-metafield-details__inner--left">
          <div class="product-metafield-details__image">
            <div class="product-metafield-details__image-wrap">
              <div class="image-wrap" style="">
               {% if img_url != blank %}
                <img class="lazyload" src="{{img_url}}" alt="">
                {% else %}
                  <img src="{{ product.media[0].src | img_url: "master" }}" alt="">
                {% endif %}  
              </div>
            </div>
          </div>
          <div class="product-metafield-details__text">
            <div class="product-metafield-details__text-wrap">
              <h3>{{ title }}</h3>

              {% if copy != blank %}
              <p>{{ copy }}</p>    
              {% else %}
                <p>{{ product.description }}</p>
              {% endif %}

     
                
          
            
              <div class="product-pdf-table">
                {% if product.metafields.pdf.diameter != blank or  product.metafields.pdf.length != blank or product.metafields.pdf.height or product.metafields.pdf.width or product.metafields.pdf.weight%}
                <table>
                  <tr>
                    {% if product.metafields.pdf.diameter != blank %}
                      <td>Diameter:</td>
                      <td>{{ product.metafields.pdf.diameter }} mm</td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if product.metafields.pdf.length != blank %}
                      <td>Length:</td>
                      <td>{{ product.metafields.pdf.length }} mm</td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if product.metafields.pdf.height != blank %}
                      <td>Height:</td>
                      <td>{{ product.metafields.pdf.height }} mm</td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if product.metafields.pdf.width != blank %}
                      <td>Width:</td>
                      <td>{{ product.metafields.pdf.width }} mm</td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if product.metafields.pdf.weight != blank %}
                      <td>Weight:</td>
                      <td>{{ product.metafields.pdf.weight }} kg</td>
                    {% endif %}
                    <tr>
                    {% if product.metafields.pdf.colour != blank %}
                      <td>Colour:</td>
                      <td>{{ product.metafields.pdf.colour }}</td>
                    {% endif %}
                    </tr>
                  </tr>      
                </table>  
                {% endif %}
                <div class="pdf-download-btn">

                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 34 32"><defs><style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{clip-path:url(#clip-path-2);}.cls-4{clip-path:url(#clip-path-3);}.cls-5{clip-path:url(#clip-path-4);}.cls-6{clip-path:url(#clip-path-5);}.cls-7{clip-path:url(#clip-path-6);}.cls-8{clip-path:url(#clip-path-7);}.cls-9{clip-path:url(#clip-path-8);}</style><clipPath id="clip-path"><path class="cls-1" d="M10,13a.94.94,0,0,1-1-1,7,7,0,0,1,7-7,7.18,7.18,0,0,1,6.7,4.9,1,1,0,0,1-.7,1.2,1,1,0,0,1-1.3-.6A4.83,4.83,0,0,0,16,7a5,5,0,0,0-5,5A.94.94,0,0,1,10,13Z"/></clipPath><clipPath id="clip-path-2"><path class="cls-1" d="M23,21a1,1,0,0,1,0-2,4,4,0,0,0,0-8,3.4,3.4,0,0,0-1,.1,1,1,0,0,1-.5-1.9A7.72,7.72,0,0,1,23,9a6,6,0,0,1,0,12Z"/></clipPath><clipPath id="clip-path-3"><path class="cls-1" d="M13,21H10a1,1,0,0,1,0-2h3a1,1,0,0,1,0,2Z"/></clipPath><clipPath id="clip-path-4"><path class="cls-1" d="M23,21H21a1,1,0,0,1,0-2h2a1,1,0,0,1,0,2Z"/></clipPath><clipPath id="clip-path-5"><path class="cls-1" d="M10,21a5,5,0,0,1,0-10,1,1,0,0,1,0,2,3,3,0,0,0,0,6,1,1,0,0,1,0,2Z"/></clipPath><clipPath id="clip-path-6"><path class="cls-1" d="M17,27a.94.94,0,0,1-1-1V17a1,1,0,0,1,2,0v9A.94.94,0,0,1,17,27Z"/></clipPath><clipPath id="clip-path-7"><path class="cls-1" d="M17,27a.91.91,0,0,1-.7-.3,1,1,0,0,1,0-1.4l3-3a1,1,0,0,1,1.4,1.4l-3,3A.91.91,0,0,1,17,27Z"/></clipPath><clipPath id="clip-path-8"><path class="cls-1" d="M17,27a.91.91,0,0,1-.7-.3l-3-3a1,1,0,0,1,1.4-1.4l3,3a1,1,0,0,1,0,1.4A.91.91,0,0,1,17,27Z"/></clipPath></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><rect x="4" width="23.72" height="18"/></g><g class="cls-3"><rect x="15.78" y="4" width="18.22" height="22"/></g><g class="cls-4"><rect x="4" y="14" width="15" height="12"/></g><g class="cls-5"><rect x="15" y="14" width="14" height="12"/></g><g class="cls-6"><rect y="6" width="16" height="20"/></g><g class="cls-7"><rect x="11" y="11" width="12" height="21"/></g><g class="cls-8"><rect x="11" y="17" width="15" height="15"/></g><g class="cls-9"><rect x="8" y="17" width="15" height="15"/></g></g></g></svg>
                  
                  <p>View PDFs</p>
                </div>
              </div>

              {% if product.metafields.pdf.notes != blank %}
              <p>{{ product.metafields.pdf.notes }}</p>

              {% else %}
              <p>{{ block.settings.pdf_notes_backup }}</p>
              {% endif %}


              
   
            </div>
          </div>
        </div>
      </div>

    {% endif %}



  {%- endfor -%}
</div>







{% include 'pdp-pdp' %}



{% schema %}
  {
    "name": "Product metafield details",
    "class": "product-metafield-details index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "flush",
        "label": "Remove top space",
        "default": true
      }, {
        "type": "checkbox",
        "id": "flush_bottom",
        "label": "Add bottom space",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "Filter Info",
        "type": "filter",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Metafield Title",
            "info": "add a metafield title here (ie 1920s) and this section will only show if the product has the entered metafiled title"
          },
          {
            "type": "checkbox",
            "id": "flush_bottom",
            "label": "Add bottom space",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }, {
            "type": "richtext",
            "id": "copy",
            "label": "Copy"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }, {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
          }
        ]
      },
      {
        "name": "PDF Block",
        "type": "pdf",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This will show the PDF metafield block"
          },
          {
            "type": "textarea",
            "id": "pdf_notes_backup",
            "label": "Default PDF notes (will show if metafield empty)",
            "default": "Supplied tested to BS EN60598. Converted for use in the US and worldwide. IP20 for internal use only."
          }
        ]
      },
      {
        "name": "Related project",
        "type": "related_project",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "If a product is added to a project, this will show the project image and link"
          }        
        ]
      },
      {
        "name": "Image and text meta one",
        "type": "meta_one",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This will show the first metafield image and text block"
          }        
        ]
      },
      {
        "name": "Image and text meta two",
        "type": "meta_two",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This will show the second metafield image and text block"
          }
        ]
      },
      {
        "name": "Image and text meta three",
        "type": "meta_three",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This will show the third metafield image and text block"
          }        
        ]
      },
      {
        "name": "Image and text meta four",
        "type": "meta_four",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This will show the forth metafield image and text block"
          }
        ]
      },
      {
        "name": "Image and text meta five",
        "type": "meta_five",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This will show the fifth metafield image and text block"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product metafield details"
      }
    ],
    "templates": ["product"]
  }
{% endschema %}